QDialog {
  background-color: rgb(44, 49, 60);
}

QWidget {
  background-color: rgb(44, 49, 60);
}

QPushButton {
  border: 2px solid rgb(52, 59, 72);
  border-radius: 5px;
  background-color: rgb(52, 59, 72);
  font: 8pt "Segoe UI";
  color: rgb(0, 0, 0);
}
QPushButton:hover {
  background-color: rgb(57, 65, 80);
  border: 2px solid rgb(61, 70, 86);
}
QPushButton:pressed {
  background-color: rgb(35, 40, 49);
  border: 2px solid rgb(43, 50, 61);
}

QLineEdit {
  background-color: rgb(27, 29, 35);
  color: rgb(255, 255, 255);
  border-radius: 5px;
  border: 2px solid rgb(27, 29, 35);
  padding-left: 10px;
}
QLineEdit:hover {
  border: 2px solid rgb(64, 71, 88);
}
QLineEdit:focus {
  border: 2px solid rgb(91, 101, 124);
}
